
/* FONTS */
@font-face { font-family: 'OpenSans'; font-weight: 300; font-style: normal; font-display: block; src: url("fonts/OpenSans-Light.ttf"); }
@font-face { font-family: 'OpenSans'; font-weight: 400; font-style: normal; font-display: block; src: url("fonts/OpenSans-Regular.ttf"); }
@font-face { font-family: 'OpenSans'; font-weight: 700; font-style: normal; font-display: block; src: url("fonts/OpenSans-Bold.ttf"); }
@font-face { font-family: 'OpenSans'; font-weight: 400; font-style: italic; font-display: block; src: url("fonts/OpenSans-Italic.ttf"); }
@font-face { font-family: 'Headstrong'; font-weight: 400; font-style: normal; font-display: block; src: url("fonts/Headstrong.ttf"); }

/* GENERAL */
body {  }
body, button, input, select, textarea, .widget li, td, p, div.textwidget {font-family: 'OpenSans', sans-serif;font-size: 15px; line-height: 1.5; }
main h1, main h2, main h3, main h4 { color:#edb4a9; }
main p, main em, main table, main ul, main li  { color:#4b4b4e;font-family: 'OpenSans', sans-serif;font-weight:400; text-align: left;  }
main h1 { text-align:center; margin-top: 3rem; letter-spacing: normal;font-family: 'OpenSans', sans-serif; font-size: 40px; font-weight: 700;  }
main h2 { text-align:left; font-size: 30px;font-family: 'Headstrong'; }
main h3 { margin:20px 0 10px; font-size: 20px;font-family: 'Headstrong';}
main a, main a:visited, main a:active { color: #e4b4b4e;}
main a:hover {color:#edb4a9;}

article { width:100%; max-width:1200px; margin:0 auto; }

.widget li { margin: 0.3rem 0 0.3rem 20px;text-align: left; }

/* HEADER */
#site-header {padding:1em;background-color: #4b4b4e;}
#site-header .header-titles-wrapper {max-width:100%!important;}
#site-header .header-inner {width:100%;margin:0 auto;padding:0;}

#site-header .row1 {display: flex;justify-content: space-between;}
#site-header .row1 .column {flex: 1 0 100%;padding: 0.5em;}
#site-header .row1 .column {text-align: center; }
#site-header .row1 .column .logo {position:unset;}
#site-header .row1 .column a {display:block;line-height:0!important;}

/* NAVIGATION */
body:not(.overlay-header) ul.primary-menu, ul.primary-menu {margin:0px;justify-content: center; letter-spacing: normal; }
body:not(.overlay-header) .primary-menu > li, .primary-menu-wrapper li {margin: 0; text-align:center;background:transparent; font-weight:400; }
body:not(.overlay-header) .primary-menu > li:hover, .primary-menu-wrapper li:hover { background-color:transparent; }

body:not(.overlay-header) .primary-menu li a { padding:10px 15px; text-decoration: none; color: #edb4a9; background-color: transparent; font-size: 15px; transition: all 0.25s; }
body:not(.overlay-header) .primary-menu li a:hover { text-decoration: none; color:#fff; background-color:transparent;  transition: all 0.25s; }
body:not(.overlay-header) .primary-menu li.current-menu-item > a {color:#fff; }

body:not(.overlay-header) .primary-menu ul::before, body:not(.overlay-header) .primary-menu ul::after {display: none;}

body:not(.overlay-header) .primary-menu > li > .icon { display: none; }
body:not(.overlay-header) .primary-menu ul.sub-menu {z-index: 9999; width: 260px; background-color: #4b4b4e; box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, 0.2)!important; border-radius:0px;}
body:not(.overlay-header) .primary-menu ul.sub-menu a { color: #edb4a9; transition: all 0.25s;text-align:left;}
body:not(.overlay-header) .primary-menu ul.sub-menu a:hover {color: #fff; transition: all 0.25s; }
.header-toggles:only-child .toggle-inner .toggle-text {padding-right: 8px; }

.modal-menu a:focus, .modal-menu a:hover, .modal-menu li.current-menu-item > .ancestor-wrapper > a, .modal-menu li.current_page_ancestor > .ancestor-wrapper > a {text-decoration: none; }

/* HOME */
.home .banner-row {min-height:570px;padding-left:10%;}
.home .banner-row h1, .home .banner-row p {color:#4b4b4e;}
.home .banner-row:after {content:'';position:absolute;bottom:0px;left:0px;height:10px;width:100%;background: rgb(237,180,169);background: linear-gradient(45deg, rgba(237,180,169,1) 0%, rgba(179,111,102,1) 100%);}

.home .seo-text {padding:6em;background:#4b4b4e;}
.home .seo-text p, .home .seo-text a {color:#fff;}

.home .reviews-row {background: rgb(237,180,169);background: linear-gradient(45deg, rgba(237,180,169,1) 0%, rgba(179,111,102,1) 100%);}

.home .image-three {padding:6em;background:#4b4b4e;}
.home .image-three p, .home .image-three a {color:#fff;}

/* BUTTONS */
.wout-button, .wout-button:visited {display:inline-block;margin:10px 10px 10px 0px;padding:10px 15px;font-size:14px;border:1px solid #fff;background:transparent;color:#fff!important;text-decoration:none!important;}
.wout-button:hover {background:#4b4b4e;border:1px solid #4b4b4e;color:#fff!important;text-decoration:none!important;}
.wout-button:last-child {margin:0;}

.pout-button, .pout-button:visited {display:inline-block;margin:10px 10px 10px 0px;padding:10px 15px;font-size:14px;border:1px solid #edb4a9;background:transparent;color:#4b4b4e!important;text-decoration:none!important;}
.pout-button:hover {background:#edb4a9;border:1px solid #edb4a9;color:#fff!important;text-decoration:none!important;}
.pout-button:last-child {margin:0;}

.button {padding:0.5em 1em;background:transparent;border:0.1em solid #f85c70;border-radius:8px;text-shadow:0 0 0;}
.button:hover {opacity:0.7;}

/* MEET THE TEAM */
#team .teamMember .title {opacity: 1; }
#team .teamMember .title a {text-decoration: none; }
#team .teamMember .title span {color: #fff ; }
#team .teamMember .name {font-size: 14px; font-weight: 700; }
.single-staff .staff-img {max-width: 300px; margin-bottom: 2em; }
.single-staff #yourSalonReviews {display: block; clear: both; }

/* WOO COMMERCE */
.woocommerce mark, .woocommerce ins {background: #fff; }
.woocommerce ul.products li.product h3 {color: #000; font-size: 12px; }
.woocommerce ul.products li.product .price {color: #000; font-size: 15px; }
.woocommerce li.product {text-align: center; border: 1px solid #dcdcdc; box-shadow: 0 0 5px #d8d8d8; }
.woocommerce ul.products li.product .button {margin-bottom: 1em; }
.woocommerce p.out-of-stock {color: red ; }
.woocommerce p.in-stock {margin: 5px; padding: 0; color: green; }
.woocommerce span.onsale {background-color: #000; }
.woocommerce .quantity {color: #000; }
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {transition: all 0.25s;background: #000; }
.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover {transition: all 0.25s; background-color: #848484; }
.single-product.woocommerce div.product form.cart div.quantity {width: 100%;margin-bottom:10px; }
.single-product.woocommerce div.product form.cart .button {float: none; }
.archive.woocommerce #container, .category.woocommerce #container {padding: 0 4%; }
.woocommerce ul.cart_list li img, .woocommerce ul.product_list_widget li img {width: 32px ; }
.woocommerce .woocommerce-breadcrumb {display: none; }
.woocommerce .action-buttons-row {display:none;}
.reset_variations, .variations .label {display: none; }

/* CONTACT */
.single-contact .banner-row {min-height:600px;}
.single-contact .banner-row h3 {margin-bottom:10px;font-size:26px;}
.single-contact .banner-row [class^="sg-contact"] {display: block;font-size:15px!important;text-align:left;}
.single-contact .banner-row [class^="sg-contact"] em.comma {display: none;}
.single-contact .cream-row {padding:80px 0px;background:#f2ede9!important;}
.single-contact .socialmedia a {margin-right:20px;font-size:26px;}

/* FOOTER */
#site-footer:before {content:'';position:absolute;top:0px;left:0px;height:10px;width:100%;background: rgb(237,180,169);background: linear-gradient(45deg, rgba(237,180,169,1) 0%, rgba(179,111,102,1) 100%);}
#site-footer {padding:40px 80px!important;color:#fff;background:#4b4b4e;}
#site-footer .top-row {max-width:1200px;margin:0 auto;text-align:center;}
#site-footer a, #site-footer p {color:#fff;font-size:14px;}
#site-footer a:hover, #site-footer .bottom-row a:hover {color:#000;text-decoration:none;}
#site-footer ul.menu {margin:0;}
#site-footer ul.menu li {margin-left:0px;text-align:center;}
#site-footer ul.menu li a {font-weight:400!important;font-size:14px;}
#site-footer ul.menu li a:hover, #site-footer a:hover, #site-footer .socialmedia a:hover, #site-footer .bottom-row a:hover {color:#edb4a9!important;text-decoration:none;}
#site-footer .socialmedia {margin:20px 0px;text-align:center;}
#site-footer .socialmedia a {display:ilnine-block;padding:5px;font-size:22px;}
#site-footer div {font-size:14px;}
#site-footer h3.widget-title, #site-footer h3 {margin-bottom:20px;color:#fff;font-size:16px;font-weight:300;text-align:center;}
#site-footer table {max-width:300px;margin:0px auto;}
#site-footer table, #site-footer table.opening td {padding:2px;border:0px;font-size:14px;text-align:center;}
#site-footer [class^="sg-contact"] {display: block;font-size:14px!important;color:#fff;text-align:center;}
#site-footer [class^="sg-contact"] em.comma {display: none;}
#site-footer .top-link {padding-bottom:20px;text-align:center;font-size:14px;}
#site-footer .bottom-row {text-align:center;color:#fff;}
#site-footer .bottom-row br {display:none;}
#site-footer .widget_footer_links a, #site-footer .widget_footer_links span, #site-footer a.sitemap {display:inline-block!important;margin-right:10px;font-size:12px!important;color:#fff;}



/*** OPTIMISATIONS ***/
@media (max-width: 1300px) {
}

@media(max-width: 1024px) {
}

@media (max-width: 1000px) {
	#site-header .header-inner .toggle {font-size: 30px; }
}

@media (max-width: 896px) {
	#site-header .header-titles-wrapper {padding:0;}

	.menu-modal-inner {width:100%!important;background:#fff;}
	.menu-modal-inner .expanded-menu li {width:100%!important;}
	.menu-modal li a {color:#000;font-size:18px !important; padding: 1.5rem 2.5rem; text-transform:uppercase; font-weight:400!important;}
	.menu-modal li .ancestor-wrapper a, .menu-modal button .svg-icon, span.toggle-text {color:#000!important;}
	.menu-modal li {border-color:#000;}
	
	.home main .panel-grid-cell, .home main .panel-grid {margin-bottom: 0 ; }

	 #site-footer {padding: 2em; text-align: center; }
	 #site-footer div, #site-footer p {text-align: center; }
	 #site-footer table {margin: 0 auto; }
}

@media  (max-width: 667px) {
	.menu-modal li a {color:#000;font-size:18px;font-weight:400;}
	.menu-modal li .ancestor-wrapper a {color:#000;}

	#site-footer {clear: both;padding:10px;}
}


@media  (max-width: 480px) {
	main {padding: 0 10px; }
	.home main {padding: 0; }

	table.prices td, table.prices th {font-size: 14px; }
}

@media (max-width: 375px) {
}
